
  body{
	background: #f5d04e;
	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	height: 50%;
	}


	.main{
	border: 1px solid #222222;
	border-radius: 30px;
   	background: white;
   	 margin-top: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 300px;
	margin-left: 300px;
	width: 25%;
	box-shadow: 7px 7px black;
	
     padding: 20px
	}

  .main * {
     box-sizing: border-box;
     max-width: 100%;
     word-break: break-word;
     hyphens: auto;
      }
	
	.date{
	color:black;
	margin-top: 1px;
	
	}

	h3 
	{
	font-weight: bold;
	 border: none;
	background: #f5d04e;
	display: inline-block;
	padding: 2px 5px;
	}
	
	p{
	color: #A9A9A9;
	border: none;
	
	}
	
	.img{
	
	 width: 100%;
 	 height: 100%;
  	object-fit: cover;
  	display: block;
	border-radius: 10px;
	}

	 .title:hover {
  	color: yellow;
  	cursor: pointer; 
	}
	
	.grg{
	display:flex;
	align-items:center;
	}

	  @media (max-width: 520px) {
  .main{
    margin: 10px;
    border-radius: 13px;
    padding: 10px 6px;
    max-width: 100vw;

  }




